body{
    font-family: Arial, Helvetica, sans-serif;
}

ul#navmenu {
position: relative;
    font-size:25px;
    top: 80px;
    left: 380px;

}

ul#navmenu li{
    display:inline-block;
    color:rgb(9, 179, 136);
    width: 130px;
}


ul#navmenu a{ 
    border:2px solid #070707;
    text-decoration:none;
  
    color:45px;
    padding:2px 3px
    
   
}

ul#navmenu li a:hover{
	background-color:rgb(241, 233, 233);
	color:rgb(62, 111, 218);
}

#text{
    color:rgb(19, 18, 18);
    font-size: 25px;
}


#txt{
    position: absolute;
    top: 17%;
    left: 1%;
}

#txt{
    color:rgb(19, 18, 18);
    font-size: 18px;
}

header{
    background-color: rgb(22, 236, 129);
    font-size: 50px;
    padding-bottom: 1px;
   
}

    

#label{
    position: absolute;
    top: 30%;
    left:15%;
    transform:translate(50%;50%);
}

#label{
    color: rgb(6, 7, 7);
    font-size: 40px;
    font-style: italic;

}




#AB{
    font-size: 50px;
    color: rgb(179, 4, 4);
}


#US{

    font-size: 50px;
    color: rgb(179, 4, 4);

}

    #AB{
        position: relative;
        top: -420px;
        left: 155px;
}

    
    #US{
        position: relative;
        top: -528px;
        left: 330px;
    }



#aboutus{
    color:rgb(7, 7, 7);
    font-size: 18px;
}

#aboutus{
    position: relative;
    top: -580px;
    left: 410px;
}


img{
    width:990px;
    height: 550px;
    
}
#wedo{
    position: absolute;
    top: 88%;
    left: 18%;
}

